.page{padding:0 60px;display:flex;flex-wrap:wrap;justify-content:space-between;}
.page .link{display:inline-block;width:48%;margin-top:40px;background:#FF4157;color:#fff;text-align:center;line-height:120px;border-radius:60px;font-size:39px;}
.page .link:nth-child(2n){background:#3CB3FF;}